<%- include('../partials/header') %>

<form action="/cafes" method="PUT" method="POST">
  <input type="text" name="cafe" value="<%= cafe.cafe %>"><br>
  
  <label>
    <input type="checkbox" name="features" value="quiet" <%= cafe.features.includes('quiet') ? 'checked' : '' %>>
    Quiet
  </label><br>
  
  <label>
    <input type="checkbox" name="features" value="loud" <%= cafe.features.includes('loud') ? 'checked' : '' %>>
    Loud
  </label><br>
  
  <label>
    <input type="checkbox" name="features" value="good_for_studying" <%= cafe.features.includes('good_for_studying') ? 'checked' : '' %>>
    Good for Studying
  </label><br>
  
  <label>
    <input type="checkbox" name="features" value="good_to_bring_friends" <%= cafe.features.includes('good_to_bring_friends') ? 'checked' : '' %>>
    Good to Bring Friends
  </label><br>
  
  <button type="submit">Add Feature</button>
</form>

<%- include('../partials/footer') %>